body {
    background-color: #2f3035;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1074px;
}

header {
    background-color: blue;
    height: 110px;
    width: 1024px;
    text-align: center;
}

nav {
    background-color: red;
    height: 40px;
    width: 1024px;
}

main {
    background-color: orange;
    height: 400px;
    width: 1024px;
    text-align: center;
}

footer {
    background-color: green;
    height: 100px;
    width: 1024px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}